# Connect to the OCHIN DB through R

This notebook will walk you through how to connect to the OCHIN DB using R. 
Before you begin, make sure that you have access to the data and check to make sure the `db-credentials.txt` file is located in your home directory.

## Install ODBC drivers as necessary

In [ ]:
system("sudo su -c 'curl https://packages.microsoft.com/config/rhel/7/prod.repo > /etc/yum.repos.d/mssql-release.repo && exit'")
system("sudo yum remove unixODBC-utf16 unixODBC-utf16-devel")
system("sudo ACCEPT_EULA=Y yum install -y msodbcsql17")
system("sudo ACCEPT_EULA=Y yum install -y mssql-tools")
system("echo 'export PATH='$PATH:/opt/mssql-tools/bin'' >> ~/.bashrc")
system("source ~/.bashrc")
system("sudo yum install -y unixODBC-devel")

## Install and load R packages

In [ ]:
install.packages("odbc")
library(odbc)
install.packages("DBI")
install.packages("rstudioapi")

## Read and parse your DB credentials

In [ ]:
file_path <- '/home/ec2-user/SageMaker/db-credentials.txt'

db_creds_df <- read.table(file_path)
db_creds <- db_creds_df$V3
names(db_creds) <- db_creds_df$V1

db_creds <- trimws(db_creds)
#db_creds

**Change the code below to reflect the DB view that you have access to**

In [ ]:
db <- 'S43' ### ENTER YOUR DB VIEW HERE, for example 'S43'

## Connect to the database

In [ ]:
connection_string = paste0("DRIVER={ODBC Driver 17 for SQL Server};",
                          "SERVER=", db_creds['host'], ',', db_creds['port'], ';',
                          "DATABASE=", db, ';',
                          "UID=", db_creds['username'], ';',
                          "PWD={", db_creds['password'], "};")

#connection_string

In [ ]:
db_conn <- DBI::dbConnect(odbc::odbc(), .connection_string = connection_string)

## Example queries
**Print all tables available in your database view**

In [ ]:
df <- dbGetQuery(db_conn, "SELECT name AS TABLE_NAME FROM sys.tables;")
df

**Select the top 10 entries in the CONCEPT_DIMENSION table**

In [ ]:
df2 <- dbGetQuery(db_conn, "SELECT TOP 10 * FROM CONCEPT_DIMENSION;")
df2